<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModellBahnSteuerung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Master.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModellBahnSteuerung.Properties.Settings>
            <setting name="ViewGitterFarbe" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ViewFadenkreuzFarbe" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ViewFadenkreuzTyp" serializeAs="String">
                <value>Linie</value>
            </setting>
            <setting name="ViewGitterTyp" serializeAs="String">
                <value>Linie</value>
            </setting>
            <setting name="ZuletztGeladenAnlagen" serializeAs="String">
                <value />
            </setting>
            <setting name="ZuletztVerbundeneMaster" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>55555</value>
            </setting>
            <setting name="MasterName" serializeAs="String">
                <value>192.168.1.2</value>
            </setting>
        </ModellBahnSteuerung.Properties.Settings>
        <Master.Properties.Settings>
            <setting name="RasterFarbe" serializeAs="String">
                <value>LightGray</value>
            </setting>
        </Master.Properties.Settings>
    </userSettings>
</configuration>